.lesson{
    margin: 15px 0;
}

.wrapper_block{
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

.block{
    background-color: black;
}
.add_button{
    cursor: pointer;
    background-color: burlywood;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}